<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame FloatingPanel</key>
	<string>987 635 300 159 0 0 1710 1073 </string>
	<key>ShowUpcomingEventView</key>
	<string>NO</string>
	<key>StatusItemOcclusionLastAlertDate</key>
	<date>2026-07-13T20:30:25Z</date>
	<key>com.abhishek.analyticsLastSignalDate</key>
	<date>2026-07-19T04:00:00Z</date>
	<key>com.abhishek.defaultsLastUpdateKey</key>
	<date>2026-07-10T16:25:37Z</date>
	<key>com.abhishek.menubarCompactMode</key>
	<integer>0</integer>
	<key>com.abhishek.showOnboardingFlow</key>
	<true/>
	<key>defaultPreferences</key>
	<array>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGrCwwpKiss
		MDY3ODlVJG51bGzfEA8NDg8QERITFBUWFxgZGhscHR4fICEiHR0jHiUmJyBf
		EBBpc1N5c3RlbVRpbWV6b25lXm92ZXJyaWRlRm9ybWF0W2N1c3RvbUxhYmVs
		VG5vdGVac3Vuc2V0VGltZVlsb25naXR1ZGVYbGF0aXR1ZGVdc2VsZWN0aW9u
		VHlwZVtpc0Zhdm91cml0ZVYkY2xhc3NfEBBmb3JtYXR0ZWRBZGRyZXNzWm5l
		eHRVcGRhdGVYcGxhY2VfaWRadGltZXpvbmVJRFtzdW5yaXNlVGltZQgQAIAD
		gAmAAIAIgAeACoADgAWAAoAEgABfEBtDaElKODNXWnA4NnAyRWNSYk1ya1lx
		R25jQlFZR3JlZW53aWNoXUV1cm9wZS9Mb25kb27SLRYuL1dOUy50aW1lI0HH
		ekt2qtzbgAbSMTIzNFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIzNVhO
		U09iamVjdCNASb8mqo60YyM/hB09/mhQS1DSMTI6O18QGUNvcmVNb2RlbEtp
		dC5UaW1lem9uZURhdGGiPDVfEBlDb3JlTW9kZWxLaXQuVGltZXpvbmVEYXRh
		AAgAEQAaACQAKQAyADcASQBMAFEAUwBfAGUAhgCZAKgAtAC5AMQAzgDXAOUA
		8QD4AQsBFgEfASoBNgE3ATkBOwE9AT8BQQFDAUUBRwFJAUsBTQFPAW0BdwGF
		AYoBkgGbAZ0BogGtAbYBvQHAAckB0gHbAdwB4QH9AgAAAAAAAAACAQAAAAAA
		AAA9AAAAAAAAAAAAAAAAAAACHA==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGtCwwpKiss
		MDY3ODs+P1UkbnVsbN8QDw0ODxAREhMUFRYXGBkaGxwdHh8gISIdHSMkJSYk
		KF8QEGlzU3lzdGVtVGltZXpvbmVeb3ZlcnJpZGVGb3JtYXRbY3VzdG9tTGFi
		ZWxUbm90ZVpzdW5zZXRUaW1lWWxvbmdpdHVkZVhsYXRpdHVkZV1zZWxlY3Rp
		b25UeXBlW2lzRmF2b3VyaXRlViRjbGFzc18QEGZvcm1hdHRlZEFkZHJlc3Na
		bmV4dFVwZGF0ZVhwbGFjZV9pZFp0aW1lem9uZUlEW3N1bnJpc2VUaW1lCBAA
		gASAC4AKgAiAB4AMgAOABYACgAOACV8QJEJFRkNBOTQ0LTcyQTUtNENEQS1C
		MTk4LUE0RUVFMzAwNkNCQl8QEEFtZXJpY2EvTmV3X1lvcmtTTllD0i0WLi9X
		TlMudGltZSNByACqLOq6v4AG0jEyMzRaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZO
		U0RhdGWiMzVYTlNPYmplY3QjQERbPQfIS14jwFKAYk3S8arSLRY5LyNByAB5
		/QAAAIAG0i0WPC8jQcgA4toAAACABlDSMTJAQV8QGUNvcmVNb2RlbEtpdC5U
		aW1lem9uZURhdGGiQjVfEBlDb3JlTW9kZWxLaXQuVGltZXpvbmVEYXRhAAgA
		EQAaACQAKQAyADcASQBMAFEAUwBhAGcAiACbAKoAtgC7AMYA0ADZAOcA8wD6
		AQ0BGAEhASwBOAE5ATsBPQE/AUEBQwFFAUcBSQFLAU0BTwFRAXgBiwGPAZQB
		nAGlAacBrAG3AcABxwHKAdMB3AHlAeoB8wH1AfoCAwIFAgYCCwInAioAAAAA
		AAACAQAAAAAAAABDAAAAAAAAAAAAAAAAAAACRg==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwqKywt
		LjI4VSRudWxs3xAPDQ4PEBESExQVFhcYGRobHB0eHiAgICMjJCUmJyggXxAQ
		aXNTeXN0ZW1UaW1lem9uZV5vdmVycmlkZUZvcm1hdFtjdXN0b21MYWJlbFRu
		b3RlWnN1bnNldFRpbWVZbG9uZ2l0dWRlWGxhdGl0dWRlXXNlbGVjdGlvblR5
		cGVbaXNGYXZvdXJpdGVWJGNsYXNzXxAQZm9ybWF0dGVkQWRkcmVzc1puZXh0
		VXBkYXRlWHBsYWNlX2lkWnRpbWV6b25lSURbc3VucmlzZVRpbWUIEACABIAE
		gACAAIAAEAGACIADgAaAAoAFgABfECQ2RTg0NkEzOC03NzlELTRDODItODhB
		Ni1BQzYxMzE0RTY1MDNTVVRDUFNHTVTSLxYwMVdOUy50aW1lI0HHzxtiXoLg
		gAfSMzQ1NlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaI1N1hOU09iamVj
		dNIzNDk6XxAZQ29yZU1vZGVsS2l0LlRpbWV6b25lRGF0YaI7N18QGUNvcmVN
		b2RlbEtpdC5UaW1lem9uZURhdGEACAARABoAJAApADIANwBJAEwAUQBTAF0A
		YwCEAJcApgCyALcAwgDMANUA4wDvAPYBCQEUAR0BKAE0ATUBNwE5ATsBPQE/
		AUEBQwFFAUcBSQFLAU0BTwF2AXoBewF/AYQBjAGVAZcBnAGnAbABtwG6AcMB
		yAHkAecAAAAAAAACAQAAAAAAAAA8AAAAAAAAAAAAAAAAAAACAw==
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGsCwwqKywt
		LjI4OTo7VSRudWxs3xAPDQ4PEBESExQVFhcYGRobHB0eHyAhIh0jJCUmJygg
		XxAQaXNTeXN0ZW1UaW1lem9uZV5vdmVycmlkZUZvcm1hdFtjdXN0b21MYWJl
		bFRub3RlWnN1bnNldFRpbWVZbG9uZ2l0dWRlWGxhdGl0dWRlXXNlbGVjdGlv
		blR5cGVbaXNGYXZvdXJpdGVWJGNsYXNzXxAQZm9ybWF0dGVkQWRkcmVzc1pu
		ZXh0VXBkYXRlWHBsYWNlX2lkWnRpbWV6b25lSURbc3VucmlzZVRpbWUIEACA
		BIAKgACACYAIEAGAC4ADgAaAAoAFgABfEBtDaElKRTlvbjNGM0h3b0FSOUFo
		R0pXX2ZMLUlbTG9zIEFuZ2VsZXNSTEFfEBNBbWVyaWNhL0xvc19BbmdlbGVz
		0i8WMDFXTlMudGltZSNBx3pLfKH4AYAH0jM0NTZaJGNsYXNzbmFtZVgkY2xh
		c3Nlc1ZOU0RhdGWiNTdYTlNPYmplY3QjQEEHBzZVJqMjwF2Ph3aBZp1Q0jM0
		PD1fEBlDb3JlTW9kZWxLaXQuVGltZXpvbmVEYXRhoj43XxAZQ29yZU1vZGVs
		S2l0LlRpbWV6b25lRGF0YQAIABEAGgAkACkAMgA3AEkATABRAFMAYABmAIcA
		mgCpALUAugDFAM8A2ADmAPIA+QEMARcBIAErATcBOAE6ATwBPgFAAUIBRAFG
		AUgBSgFMAU4BUAFSAXABfAF/AZUBmgGiAasBrQGyAb0BxgHNAdAB2QHiAesB
		7AHxAg0CEAAAAAAAAAIBAAAAAAAAAD8AAAAAAAAAAAAAAAAAAAIs
		</data>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGsCwwqKywt
		LjI4OTo7VSRudWxs3xAPDQ4PEBESExQVFhcYGRobHB0eHyAhIh0jJCUmJygg
		XxAQaXNTeXN0ZW1UaW1lem9uZV5vdmVycmlkZUZvcm1hdFtjdXN0b21MYWJl
		bFRub3RlWnN1bnNldFRpbWVZbG9uZ2l0dWRlWGxhdGl0dWRlXXNlbGVjdGlv
		blR5cGVbaXNGYXZvdXJpdGVWJGNsYXNzXxAQZm9ybWF0dGVkQWRkcmVzc1pu
		ZXh0VXBkYXRlWHBsYWNlX2lkWnRpbWV6b25lSURbc3VucmlzZVRpbWUIEACA
		BIAKgACACYAIEAGAC4ADgAaAAoAFgABfECRBRThBRDM3NS04OEI3LTQwMEIt
		QUJDOC0xQkYzOTA0NDQ1MkVdRXVyb3BlL01hZHJpZFZNYWRyaWRdRXVyb3Bl
		L01hZHJpZNIvFjAxV05TLnRpbWUjQcfVxzN138KAB9IzNDU2WiRjbGFzc25h
		bWVYJGNsYXNzZXNWTlNEYXRlojU3WE5TT2JqZWN0I0BENVmz0HyFI8ANoWHk
		92X+UNIzNDw9XxAZQ29yZU1vZGVsS2l0LlRpbWV6b25lRGF0YaI+N18QGUNv
		cmVNb2RlbEtpdC5UaW1lem9uZURhdGEACAARABoAJAApADIANwBJAEwAUQBT
		AGAAZgCHAJoAqQC1ALoAxQDPANgA5gDyAPkBDAEXASABKwE3ATgBOgE8AT4B
		QAFCAUQBRgFIAUoBTAFOAVABUgF5AYcBjgGcAaEBqQGyAbQBuQHEAc0B1AHX
		AeAB6QHyAfMB+AIUAhcAAAAAAAACAQAAAAAAAAA/AAAAAAAAAAAAAAAAAAAC
		Mw==
		</data>
	</array>
	<key>defaultTheme</key>
	<integer>1</integer>
	<key>iVersionAppStoreID</key>
	<integer>1056643111</integer>
	<key>iVersionLastChecked</key>
	<date>2026-06-25T22:24:38Z</date>
	<key>iVersionLastVersionChecked</key>
	<string>24.03</string>
	<key>install</key>
	<date>2025-12-18T20:08:50Z</date>
	<key>last-prompt</key>
	<date>2026-05-28T13:06:32Z</date>
	<key>last-version</key>
	<string>138</string>
	<key>showDay</key>
	<integer>1</integer>
	<key>startAtLogin</key>
	<integer>1</integer>
</dict>
</plist>
